* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* background: #000; */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: -gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}